.store-container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

.piece-card {
    width: 250px;
    /* Tamaño pequeño */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.piece-card img {
    width: 100%;
    height: 300px
}

.card-details {
    padding: 5px;
}

.card-details h2 {
    font-size: 14px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.piece-type {
    padding: 2px 6px;
    font-size: 10px;
    color: #fff;
    background-color: #ccc;
    border-radius: 12px;
}

.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.stars {
    color: gold;
    font-size: 12px;
}

.review-count {
    font-size: 10px;
    color: #666;
}

.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #8B171747;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
}

.add-to-cart:hover {
    background-color: #9c3939;
    color: white;
}

.add-to-cart .cart-icon {
    margin-right: 3px;
}


.filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.type-display {
    flex: 1;
}

.subcategory-filter,
.search-box {
    flex: 1;
    display: flex;
    align-items: center;
}

.subcategory-filter label,
.search-box label {
    margin-right: 10px;
}

.floating-cart-btn {
    position: fixed;
    top: 120px;
    right: 40px;
    background: linear-gradient(to right, #ECC30B, #EF8A17);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: bounce 2s infinite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Asegúrate de que el botón esté en la parte superior */
}



/* filtro de categoria en tienda */

.subcategory-filter {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: 200px;
    margin: 16px auto;
    margin-right: 10px;
}

.subcategory-filter label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.subcategory-filter select {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    outline: none;
    transition: all 0.3s ease;
}

.subcategory-filter select:focus {
    border-color: #EF8A17;
    box-shadow: 0 0 5px #EF8A17;
    background-color: #fff;
}

.subcategory-filter option {
    padding: 8px;
}


/* barra de busqueda en tienda */

.search-box {
    gap: 8px;
    max-width: 300px;
    margin: 16px auto;
}

.search-box label {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.search-box input {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    outline: none;
    transition: all 0.3s ease;
}

.search-box input:focus {
    border-color: #EF8A17;
    box-shadow: 0 0 5px #EF8A17;
    background-color: #fff;
}

.search-box input::placeholder {
    color: #aaa;
}




@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .piece-card {
        width: 100%;
        /* Ocupa todo el ancho en pantallas pequeñas */
        max-width: 300px;
        /* Máximo ancho */
    }

    .filter-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .subcategory-filter,
    .search-box {
        width: 100%;
        margin-bottom: 10px;
    }
}