<div class="cart-container">
  <!-- Botón para regresar a la tienda -->
  <button class="back-button" routerLink="/store">&larr; Continuar comprando</button>
  <hr class="divider">
  <div class="cart-content">
    <div class="cart-items">
      <h2>Carrito de Compras</h2>
      
      <!-- Verifica si hay elementos en el carrito, si no, muestra el mensaje de carrito vacío -->
      <div *ngIf="cartItems.length > 0; else emptyCart">
        <div *ngFor="let item of cartItems" class="cart-item">
          <img [src]="item.image" alt="{{ item.name }}">
          <div class="item-details">
            <h3>{{ item.name }}</h3>
          </div>
          <p class="item-price">{{ item.price | currency }}</p>

          <!-- currency pipe de moneda, no lo cambien roni y jean -->
          
          <!-- Controles de cantidad, asegúrate de que la cantidad no sea menor que 1 -->
          <div class="quantity-controls">
            <button (click)="updateQuantity(item, item.quantity - 1)" [disabled]="item.quantity <= 1">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="updateQuantity(item, item.quantity + 1)">+</button>
          </div>
          
          <!-- Botón para eliminar un producto del carrito -->
          <button class="remove-button" (click)="removeFromCart(item)">Eliminar</button>
        </div>
        
        <!-- Botón para vaciar todo el carrito -->
        <button class="clear-cart-button" (click)="clearCart()">Vaciar Carrito</button>
      </div>
      
      <!-- Mensaje a mostrar cuando el carrito esté vacío -->
      <ng-template #emptyCart>
        <p>Tu carrito está vacío.</p>
      </ng-template>
    </div>
    
    <div class="cart-summary">
      <div class="contact-artist">
        <h3>Una vez que subas el pago, tendrás que esperar a que sea aprobado!</h3>
      </div>

      <!-- Sección para subir comprobante de pago -->
      <div class="upload-proof">
        <label for="proof-upload" class="custom-upload-label">
          <h4 class="text-pay">Subir comprobante de pago</h4>
          
          <!-- Input oculto para subir archivos, asegúrate de manejar correctamente onFileChange -->
          <input type="file" id="proof-upload" class="hidden-file-input" (change)="onFileChange($event)">
          
          <!-- Imagen del ícono de subida -->
          <img src="\assets\media\upload-icon.svg" class="icono-upload" alt="Icono de subida" />
        </label>
        
        <!-- Mensaje que muestra el archivo seleccionado -->
        <p id="file-name" class="file-name">
          {{ selectedFile ? 'Seleccionaste: ' + selectedFile.name : 'No se ha seleccionado ningún archivo' }}
        </p>
      </div>
      
      <!-- Mostrar el total del carrito usando el pipe de moneda -->
      <p class="total-price">Total: {{ totalPrice | currency }}</p>
      
      <!-- Botón para enviar a revisión -->
      <button class="submit-button" (click)="submitForReview()">Enviar a revisión</button>
    </div>
  </div>
</div>