.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75.3vh;
    background-color: #ECC30B;
    padding: 20px;
}

.register-box {
    display: flex;
    width: 80%;
    height: 80%;
    overflow: auto;
    max-width: 900px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.register-image {
    flex: 0 0 45%;
}

.register-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.register-form {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.input-group {
    margin-bottom: 20px;
    width: 40%;
    max-width: 300px;

}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    background-color: #F8EC32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: #ccc;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .register-box {
        flex-direction: column;
    }

    .register-image {
        display: none;
    }

    .register-form {
        padding: 10px;
    }

    .form-row {
        flex-direction: column;
    }

    .input-group {
        width: 100%;
        max-width: 200px;
    }
}