.category-container {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.maintext{
  margin-top: 2%;
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Añadir transición para el efecto de hover */
}

.card:hover {
  transform: scale(1.05); /* Agrandar la tarjeta un poco */
}

.card img {
  width: 100%;
  height: auto;
}

.card-name {
  padding: 10px;
  font-size: 16px;
  background-color: #f8f8f8;
}