<div class="store-container">
  <div class="filter-row">
    <div class="type-display">
      <h2>{{ type | titlecase }}</h2>
    </div>
    <div class="subcategory-filter">
      <label for="subcategory">Selecciona categoria:</label>
      <select id="subcategory" [(ngModel)]="subcategory" (change)="applyFilters()">
        <option value="">Todos</option>
        <option *ngFor="let piece of pieces$ | async" [value]="piece.subcategory">{{ piece.subcategory }}</option>
      </select>
    </div>
    <div class="search-box">
      <label for="search">Buscar:</label>
      <input type="text" id="search" [(ngModel)]="searchQuery" (input)="applyFilters()" placeholder="Buscar por nombre">
    </div>
  </div>
  <div *ngIf="pieces$ | async as pieces; else loading">
    <div class="cards-container">
      <div *ngFor="let piece of filteredPieces$ | async" class="piece-card">
        <img [src]="piece.image" alt="{{ piece.name }}">
        <div class="card-details">
          <h2>{{ piece.name }} <span class="piece-type">{{ piece.subcategory }}</span></h2>
          <div class="reviews">
            <div class="stars">
              ★★★☆☆
            </div>
            <div class="review-count">
              70 reseñas
            </div>
          </div>
          <button class="add-to-cart" (click)="addToCart(piece)">
            <i class="cart-icon">🛒</i> Agregar al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <p>Loading...</p>
</ng-template>

<button class="floating-cart-btn" [routerLink]="['/cart']">
    🛒
  </button>