.header {
  width: 95%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D0CFCF;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  font-size: 1.35em;
  font-weight: bold;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right nav {
  display: flex;
  gap: 20px;
  margin-right: 22px;
}

.header-right nav a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
  font-weight: semi-bold;
  transition: color 0.3s;
}

.header-right nav a:hover {
  color: #8B1717;
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  transition: filter 0.3s;
}

.icon:hover {
  filter: brightness(1.2);
}

.login-button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.login-button:hover, .logout-button:hover {
  opacity: 0.8;
}
.header-right nav a.active {
  color: #8B1717;
  font-weight: bold;
}
/* Media query for mobile screens */
@media (max-width: 768px) {
  .title {
    display: none;
  }
  .header-left{
    display: none;
  }
  .header-right{
    width: 100%;
    justify-content: center;
  }
}