.pieces-container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 40px;
}

.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 8px 16px;
  margin: 0 8px;
  background: linear-gradient(90deg, #007bff, #0056b3);
  color: white;
  border: none;
  border-radius: 25px; /* Botones redondeados */
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: all 0.3s ease;
}

.filter-buttons button:hover {
  background: linear-gradient(90deg, #0056b3, #007bff); /* Inversión del degradado */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Más sombra al pasar el cursor */
  transform: translateY(-2px); /* Animación de elevación */
}

.pieces-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 10px;
}

.piece-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.piece-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.piece-info {
  text-align: left;
  width: 100%;
}

.verified {
  color: green;
}

.not-verified {
  color: red;
}

.btn-verify {
  padding: 8px 16px;
  background: linear-gradient(90deg, #28a745, #218838);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-verify:hover {
  background: linear-gradient(90deg, #218838, #28a745);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pagination button {
  all: unset;
  background-color: #f44336; 
  color: white; 
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
  opacity: 0.8;
}

.pagination button:hover {
  opacity: 0.8;
}