.pieces-container {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 40px;
}

/* Contenedor de los botones */
.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

/* Diseño de los botones */
.filter-buttons button {
  all: unset; /* Elimina todos los estilos predeterminados de los botones */
  color: black; /* Verde */
  font-size: 1em;
  font-weight: lighter;
  cursor: pointer;
  text-decoration: none; /* Evita subrayado */
  transition: color 0.3s ease;
  margin-top: 15px;
}

.filter-buttons button:hover {
  color: #15803d; /* Un verde más oscuro al pasar el mouse */
  text-decoration: underline; /* Opción para destacar el hover */
}


/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .filter-buttons {
    flex-direction: column; /* Apila los botones verticalmente */
    align-items: center;
  }

  .filter-buttons button {
    width: 80%; /* Botones más anchos en móviles */
  }
}




.delete-btn, .verify-btn{
  background: none; /* Quita el fondo */
  border: none; /* Quita el borde */
  padding: 0; /* Quita el espacio interno */
  cursor: pointer; /* Cambia el cursor a mano */
  display: inline-flex; /* Ajusta el tamaño al contenido */
  align-items: center; /* Centra la imagen */
  justify-content: center; 
  transition: transform 0.2s ease-in-out;
  align-self: flex-end; /* Asegura que el botón esté en la parte inferior */
  margin-top: auto;
}

 .delete-btn img, .verify-btn img {
  width: 25px; /* Reduce el tamaño de la imagen */
  height: 25px;
}
.delete-btn:hover, .verify-btn:hover {
  transform: scale(1.2); /* Aumenta el tamaño en un 20% */
}

.delete-btn:hover img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(94%) saturate(7490%) hue-rotate(2deg) brightness(102%) contrast(106%);
}
.verify-btn:hover img {
  filter: brightness(0) saturate(100%) invert(49%) sepia(67%) saturate(679%) hue-rotate(80deg) brightness(102%) contrast(101%);
}


.btn-obras {
  display: flex;
  gap: 15px; /* Espacio entre los botones */
  justify-content: center; /* Centrar botones */
  margin-top: 10px; /* Empuja el contenedor hacia abajo */
}


.pieces-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: center;
  margin: 10px;
}

.piece-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.piece-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.piece-info {
  flex-grow: 1; /* Hace que el contenido principal ocupe el espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Empuja .btn-obras hacia abajo */
  text-align: left; /* Alinea el texto a la izquierda */
  width: 100%; /* Asegura que el contenido use todo el ancho */
}


.verified {
  color: green;
}

.not-verified {
  color: red;
}

.btn-verify {
  padding: 8px 16px;
  background: linear-gradient(90deg, #28a745, #218838);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn-verify:hover {
  background: linear-gradient(90deg, #218838, #28a745);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pagination button {
  all: unset;
  background-color: #f44336; 
  color: white; 
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
  opacity: 0.8;
}

.pagination button:hover {
  opacity: 0.8;
}