.piece-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.author {
  margin-bottom: 20px;
}

.piece-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.piece-image {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: -2%;
}

.piece-image img {
  width: 50%; /* Ajusta el tamaño de la imagen a la mitad del tamaño actual */
  height: auto;
}

.piece-info {
  flex: 1;
  padding: 20px;
  margin-left: -15%;
  text-align: justify;
  padding: 200px;
  margin-top: -7%;
}

.material-icons {
  color: #ccc;
}

.material-icons.filled {
  color: #ffca28;
}

.reviews {
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: 1rem 0; /* Esto elimina la alineación centrada */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.reviews-container {
  display: flex;
  justify-content: flex-start; /* Asegura que las reseñas estén a la izquierda */
  align-items: flex-start;
  gap: 20px; /* Espacio entre reseñas y otros elementos */
}

.reviews-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.reviews {
  max-width: 600px;
  width: 100%; /* Para que respete el ancho disponible */
  margin: 1rem 0 1rem 0; /* Asegura que no tenga margen lateral que lo centre */
}


.reviews h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.review {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.review:last-child {
  border-bottom: none;
}

.review-user {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.review-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.8rem;
}

.review-stars {
  display: flex;
  gap: 0.2rem;
}

.review-score {
  font-size: 1rem;
  color: #444;
  margin-top: 0.5rem;
}

.no-reviews {
  font-size: 1rem;
  color: #888;
  text-align: center;
  margin-top: 1rem;
}

.floating-cart-btn {
  position: fixed;
  top: 120px;
  right: 40px;
  background: linear-gradient(to right, #ECC30B, #EF8A17);
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: bounce 2s infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* Asegúrate de que el botón esté en la parte superior */
}

.price {
  background-color: #04880480;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  font-weight: bold;
}

.piece-type {
    padding: 2px 6px;
    font-size: 15px;
    color: #fff;
    background-color: #ccc;
    border-radius: 12px;
    margin-left: 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .piece-details {
    flex-direction: column;
    align-items: center;
  }

  .piece-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .piece-image img {
    width: 100%; /* Ajusta el tamaño de la imagen para dispositivos móviles */
  }

  .piece-info {
    padding: 0;
    margin-left: 0;
  }


}