/* Contenedor principal de la pieza */
.piece-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Información del autor */
.author {
  margin-bottom: 20px;
}

/* Contenedor general de los detalles de la pieza */
.piece-details {
  min-width: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/* Imagen de la pieza */
.piece-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 6px;
  margin-top: -2%;
  width: 30%;
  max-height: 500px;
  min-height: 500px;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
  position: relative;
}

.piece-image img {
  padding: 5px;
  width: 100%;
  object-fit: contain;
}

/* Lupa para zoom */
.zoom-lens {
  position: absolute;
  border: 2px solid #000;
  width: 50px;
  height: 50px;
  cursor: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  pointer-events: none;
  display: none;
  z-index: 10;
}

/* Información a la derecha de la imagen */
.piece-info-container-right {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
  max-width: 50%;
  max-height: 500px;
  padding: 20px;
  margin-top: -2%;

}

/* Información principal de la pieza */
.piece-info {
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

/* Descripción de la pieza */
.piece-description {
  height: 70px;
  font-size: 13px;
  line-height: 1.5;
  overflow: auto;
}

/* Dimensiones de la pieza */
.price {
  background-color: #04880480;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  display: inline-block;
  font-weight: bold;
}

/* Tipo de pieza */
.piece-type {
  padding: 2px 6px;
  font-size: 15px;
  color: #fff;
  background-color: #ccc;
  border-radius: 12px;
  margin-left: 10px;
}

/* Contenedor de reseñas */
.reviews-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}

.reviews {
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 85%;
  margin: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 225px;
  max-height: 225px;
  overflow-x: hidden;
}

/* Lista de reseñas */
.review-list {
  max-height: 225px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.colum-container h3 {
  font-size: 20px;
  margin-bottom: 1rem;
  color: #333;
}

/* Estilo de cada reseña */
.review {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.review:last-child {
  border-bottom: none;
}

/* Estilo de estrellas */
.material-icons {
  color: #ccc;
}

.material-icons.filled {
  color: #ffca28;
}

/* Botón "Ver más" en reseñas */
.ver-mas-btn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.ver-mas-btn:hover {
  text-decoration: none;
}

/* Contenedor de recomendaciones */
.interests {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  width: 50%;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  margin: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 225px;
  max-height: 225px;
}

.interests-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.interest-item {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre la imagen y la info */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.interest-image {
  flex: 1; /* La imagen ocupa el 50% */
}

.interest-image img {
  width: 100%;
  max-width: 45px; /* Ajusta el tamaño máximo */
  height: auto;
  border-radius: 6px;
}

.interest-info {
  flex: 2; /* El texto y el botón ocupan más espacio */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.interest-info h4 {
  margin: 0;
  font-size: 14px;
}

.interest-info p {
  margin: 0;
  font-weight: lighter;
  font-size: 12px;

}

.interest-info button {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.interest-info button:hover {
  background-color: #ffca28;
  opacity: 0.6;
}


/* Imagen dentro de recomendaciones */
.img-interest {
  width: 20%;
}

/* Contenedor de columnas */
.colum-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

/* Ajuste de ancho en contenedores */
.reviews-container {
  width: 60%;
}

.interests {
  width: 40%;
}

/* Botón flotante del carrito */
.floating-cart-btn {
  position: fixed;
  top: 120px;
  right: 40px;
  background: linear-gradient(to right, #ECC30B, #EF8A17);
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: bounce 2s infinite;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Imagen con lupa */
.img-magnifier-container {
  position: relative;
  width: calc(100% - 3px);
  height: 500px;
  border-radius: 50%;
  box-shadow: 20px 10px 15px #FFF9E6;
}

.img-magnifier-container:hover {
  cursor: none;
  box-shadow: 20px 8px 16px 20px #f5e9c2;
}

.img-magnifier-glass {
  background: url("/assets/Locations.png") no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  border: 3px solid #fff;
  border-radius: 50%;
  display: none;
  cursor: none;
}

/* Responsive: Ajuste para móviles */
@media (max-width: 768px) {
  .piece-details {
    flex-direction: column;
    align-items: center;
  }

  .piece-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .piece-image img {
    width: 100%;
  }

  .piece-info {
    padding: 0;
    margin-left: 0;
  }
}
