.maintext{
  text-align: center;
  margin-top: 2%;

}

.sale-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px auto;
  /* Centra la tarjeta horizontalmente */
  max-width: 800px;
  /* Ancho máximo de la tarjeta */
  width: 48%;
  /* Asegura que la tarjeta ocupe el 100% del contenedor */
}

.sale-info {
  flex: 1;
}

.sale-info h3,
.sale-info p {
  margin: 5px 0;
}

.pieces {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.piece img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.payment-proof {
  margin-left: 20px;
}

.payment-proof a {
  color: #007bff;
  text-decoration: none;
}

.payment-proof a:hover {
  text-decoration: underline;
}

.verification-true {
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2%;
}

.verification-false {
  background-color: rgb(253, 253, 118);
  color: black;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pagination button {
  all: unset;
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
  opacity: 0.8;
}

.pagination button:hover {
  opacity: 0.8;
}

.dar-resenia-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.dar-resenia-button:hover {
  transform: scale(1.1);
  /* color: white; */
  opacity: 0.8;
  font-weight: bold;

}

.dar-resenia-button img {
  padding-right: 5px;
  width: 40px;
  /* Reduce el tamaño de la imagen */
  height: 40px;
}

.pedidos-text {
  text-align: center;
  font-weight: lighter;
  margin-top: 20px;
  color: #434343;
}

.no-sales-container {
  text-align: center;
  margin-top: 20px;
}

.no-sales-image {
  width: 40%;
  /* Ajusta el tamaño según necesites */
  margin-bottom: 10px;
}

.search-box {
  gap: 8px;
  max-width: 300px;
  margin: 16px 0; /* Ajuste de margen */
  display:flex;
  align-items: center;
  margin-left: 25%;
}


.search-box label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.search-box input {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  outline: none;
  transition: all 0.3s ease;
}

.search-box input:focus {
  border-color: #EF8A17;
  box-shadow: 0 0 5px #EF8A17;
  background-color: #fff;
}

.search-box input::placeholder {
  color: #aaa;
}


/* Media query para dispositivos móviles */
@media (max-width: 600px) {
  .sale-card {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }

  .payment-proof {
    margin-left: 0;
    margin-top: 10px;
  }

  .pieces {
    justify-content: start;
  }
}