.sale-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px auto;
  /* Centra la tarjeta horizontalmente */
  max-width: 800px;
  /* Ancho máximo de la tarjeta */
  width: 90%;
  /* Asegura que la tarjeta ocupe el 100% del contenedor */
}

.sale-info {
  flex: 1;
}

.sale-info h3,
.sale-info p {
  margin: 5px 0;
}

.pieces {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.piece img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.payment-proof {
  margin-left: 20px;
}

.payment-proof a {
  color: #007bff;
  text-decoration: none;
}

.payment-proof a:hover {
  text-decoration: underline;
}

.verification-true {
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2%;
}

.verification-false {
  background-color: rgb(253, 253, 118);
  color: black;
  border-radius: 15px;
  padding: 10px;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pagination button {
  all: unset;
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
  opacity: 0.8;
}

.pagination button:hover {
  opacity: 0.8;
}

.dar-resenia-button{
  all: unset;
  padding: 5px;
  background-color: #ECC30B;
  cursor: pointer;
  width: 20%;
  text-align: center;
  border-radius: 6px;
  margin-top: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.dar-resenia-button:hover{
  transform: scale(1.1); 
  color:white;
  opacity: 0.8; 
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
  .sale-card {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }

  .payment-proof {
    margin-left: 0;
    margin-top: 10px;
  }

  .pieces {
    justify-content: start;
  }
}