<div *ngIf="!isLoading">

  <div class="upload-container">
    <div class="image-upload">
      <label for="image" class="image-upload-label">
        <div *ngIf="!selectedFile" class="image-upload-placeholder">
          <p>Drag & Drop or Click to Upload Image</p>
        </div>
        <div *ngIf="selectedFile" class="image-upload-placeholder">
          <p>Image Uploaded</p>
          <p>{{ selectedFile.name }}</p>
        </div>
      </label>
      <input type="file" id="image" (change)="onFileSelected($event)" hidden>
    </div>
    <div class="form-fields">
      <form (ngSubmit)="onSubmit()" #pieceForm="ngForm">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" required [(ngModel)]="piece.name" name="name">
        </div>
        <div>
          <label for="type">Type:</label>
          <select id="type" required [(ngModel)]="piece.type" name="type" (change)="onTypeChange()">
            <option value="pintura">Pintura</option>
            <option value="escultura">Escultura</option>
            <option value="arte callejero">Arte Callejero</option>
            <option value="ceramica">Cerámica</option>
            <option value="otro">Otro</option>
            <option value="dibujo">Dibujo</option>
          </select>
        </div>
        
        <!-- Mostrar mensaje de advertencia dinámicamente -->
        <div *ngIf="warningMessage" class="warning">
          <p>{{ warningMessage }}</p>
        </div>
        
        <div>
          <label for="subcategory">Subcategory:</label>
          <select id="subcategory" required [(ngModel)]="piece.subcategory" name="subcategory">
            <option *ngFor="let subcategory of subcategories" [value]="subcategory">{{ subcategory }}</option>
          </select>
        </div>
        <div>
          <label for="description">Description:</label>
          <textarea id="description" required [(ngModel)]="piece.description" name="description"></textarea>
        </div>
        <div>
          <label for="price">Price:</label>
          <input type="number" id="price" required [(ngModel)]="piece.price" name="price">
        </div>
        <div>
          <label for="stock">Stock:</label>
          <input type="number" id="stock" required [(ngModel)]="piece.stock" name="stock">
        </div>
        <div class="dimensions">
          <label for="dimensions">Dimensions:</label>
          <div class="dimension-inputs">
            <input type="number" id="height" placeholder="Height" required [(ngModel)]="piece.height" name="height">
            <input type="number" id="width" placeholder="Width" required [(ngModel)]="piece.width" name="width">
          </div>
        </div>
        <button type="submit">
          <span class="icon">⬆️</span>
          Upload Piece
        </button>
      </form>
    </div>
  </div>
</div>