.users-container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.user-list {
  display: flex;
  justify-content: space-between;
}

.users-container ul {
  list-style-type: none;
  padding: 0;
  width: 48%;
}

.user-item {
  margin-bottom: 10px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  width: 70%;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  flex-grow: 1;
  text-align: left;
}

.user-actions {
  display: flex;
  gap: 5px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 48%;
}

.edit-form label {
  display: block;
  margin-top: 10px;
  text-align: left;
  margin-left: 14%;
}

.edit-form input,
.edit-form textarea {
  width: 70%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.editbutton{
    background-color: #BDBDBD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 15px;
    padding: 7px 16px;
}

.editbutton:hover {
    background-color: #8C8C8C;
}

.deletebutton{
    background-color: #FF4C4C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 15px;
    padding: 10px 20px;
}
.deletebutton:hover {
    background-color: #800404;
}
.btn-save {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 25px;
  }
  
  .btn-save:hover {
    background-color: #218838;
  }
  
  .btn-cancel {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-cancel:hover {
    background-color: #c82333;
  }


    .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .pagination button {
    all: unset;
    background-color: #f44336; 
    color: white; 
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination button.active {
    opacity: 0.8;
  }
  
  .pagination button:hover {
    opacity: 0.8;
  }
  
@media (max-width: 767px) {
  .user-list {
    flex-direction: column;
  }

  .users-container ul,
  .edit-form {
    width: 100%;
  }

  .user-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    width: 90%;
  }
}