.users-container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.user-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.users-container ul {
  list-style-type: none;
  padding: 0;
  width: 48%;
}

.user-item {
  margin-bottom: 10px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-bottom: 10px;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid #f44336;
}

.user-info {
  flex-grow: 1;
  text-align: left;
}

.user-info h3 {
  font-size: 1.1em;
  color: #333;
}

.user-info p {
  font-size: 0.9em;
  color: #666;
}

.user-actions {
  display: flex;
  gap: 5px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 48%;
}

.edit-form label {
  display: block;
  margin-top: 10px;
  text-align: left;
  margin-left: 14%;
}

.edit-form input,
.edit-form textarea {
  width: 70%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.editbutton, .deletebutton, .btn-save, .btn-cancel {
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 0.9em;
}

.editbutton {
  background-color: #BDBDBD;
  color: white;
}

.editbutton:hover {
  background-color: #8C8C8C;
}

.deletebutton {
  background-color: #FF4C4C;
  color: white;
}

.deletebutton:hover {
  background-color: #800404;
}

.btn-save {
  background-color: #28a745;
  color: white;
}

.btn-save:hover {
  background-color: #218838;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
}

.btn-cancel:hover {
  background-color: #c82333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pagination button {
  all: unset;
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button.active {
  opacity: 0.8;
}

.pagination button:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .user-list {
    flex-direction: column;
  }

  .users-container ul,
  .edit-form {
    width: 100%;
  }

  .user-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    width: 90%;
  }
}